html {
  background-color: #10a7a4;
}

.keyboard {
  position: absolute;
  top: 400px;
  left: 450px;
}

@font-face {
   font-family: Comfortaa;
   src: url('https://fonts.googleapis.com/css?family=Comfortaa');
 }

p {
  font-family: 'Comfortaa', cursive;
  color: white;
}

#key {
  font-size: 0;
}

.natural {
  height: 200px;
  width: 50px;
  background-color: white;
  margin: 1px;

}

.sharp {
  height: 150px;
  width: 40px;
  background-color: black;
}

#cSharpDiv {
  position: absolute;
  left: 475px;
  top: 400px;
  width: 50px;
}

#dSharpDiv {
  position: absolute;
  left: 535px;
  top: 400px;
  width: 50px;
}

#fSharpDiv {
  position: absolute;
  left: 645px;
  top: 400px;
  width: 50px;
}

#gSharpDiv {
  position: absolute;
  left: 700px;
  top: 400px;
  width: 50px;
}

#aSharpDiv {
  position: absolute;
  left: 755px;
  top: 400px;
  width: 50px;
}

#start {
  background-color: #11c0e5;
  top: 415px;
  left: 100px;
}

#start:hover {
  background-color: #59c0e5;
}

#finish {
  background-color: #59e575;
  top: 515px;
  left: 100px;
}

#finish:hover {
  background-color: #76f27e;
}

#next {
  background-color: #b06ff2;
  top: 415px;
  left: 270px;
}

#next:hover {
  background-color: #c999f7;
}

.largeButtons {
  width: 150px;
  height: 75px;
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  position: absolute;
}

.natural:hover {
  background-color: #d6d7d8;
}

.sharp:hover {
  background-color: #3a3a3a;
}

#sf {
  position: absolute;
  top: 500px;
  left: 290px;
}

#sOnly {
  position: absolute;
  background-color: #b06ff2;
  font-size: 18px;
  top: 590px;
  left: 317px;
}

#sOnly:hover {
  background-color: #c999f7;
}

button {
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
}


#sfYes {
  position: absolute;
  background-color: #59e575;
  font-size: 23px;
  top: 550px;
  left: 293px;
}

#sfYes:hover {
  background-color: #76f27e;
}

#sfNo {
  position: absolute;
  background-color: #f45050;
  font-size: 23px;
  top: 550px;
  left: 353px;
}

#sfNo:hover {
  background-color: #f76f6f;
}

#outputDiv {
  position: absolute;
  border-radius: 10px;
  height: 150px;
  width: 350px;
  background-color: #73c7e2;
  left: 465px;
  top: 180px;
  border-color: blue;
  border: solid;
}

#pageTitle1 {
  position: absolute;
  left: 540px;
  top: 5px;
}

#subtitle {
  position: absolute;
  left: 450px;
  top: 70px;
}

#feedbackBox {
  position: relative;
  left: 80px;
  top: 60px;
}

#instructions {
  position: absolute;
  border-radius: 10px;
  height: 370px;
  width: 400px;
  background-color: #73c7e2;
  left: 900px;
  top: 190px;
  border-color: blue;
  border: solid;
}

#instructions p {
  margin: 20px;
}

#reset {
  position: absolute;
  height: 50;
  width: 75;
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 23px;
  background-color: #f45050;
  top: 600px;
  left: 135px;
}

#reset:hover {
  background-color: #f76f6f;
}
