html {
  background-color: #10a7a4;
}

.keyboard {
  position: absolute;
  top: 400px;
  left: 450px;
}

@font-face{
   font-family: Comfortaa;
   src: url('https://fonts.googleapis.com/css?family=Comfortaa');
 }



p {
  font-family: 'Comfortaa', cursive;
  color: white;
}

#key {
  font-size: 0;
}

.natural {
  height: 200px;
  width: 50px;
  background-color: white;
  margin: 1px;

}

.sharp {
  height: 150px;
  width: 40px;
  background-color: black;
}

#cSharpDiv {
  position: absolute;
  left: 475px;
  top: 400px;
  width: 50px;
}

#dSharpDiv {
  position: absolute;
  left: 535px;
  top: 400px;
  width: 50px;
}

#fSharpDiv {
  position: absolute;
  left: 645px;
  top: 400px;
  width: 50px;
}

#gSharpDiv {
  position: absolute;
  left: 700px;
  top: 400px;
  width: 50px;
}

#aSharpDiv {
  position: absolute;
  left: 755px;
  top: 400px;
  width: 50px;
}

#start {
  width: 150px;
  height: 75px;
  background-color: #59c0e5;
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  position: fixed;
  top: 415px;
  left: 100px;
}

#finish {
  width: 150px;
  height: 75px;
  background-color: #59e575;
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  position: fixed;
  top: 515px;
  left: 100px;
}

#sf {
  position: fixed;
  top: 770px;
  left: 595px;
}

button {
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
}

#sfYes {
  position: fixed;
  background-color: #59e575;
  font-size: 23px;
  top: 810px;
  left: 585px;
}

#sfNo {
  position: fixed;
  background-color: #ed5c4b;
  font-size: 23px;
  top: 810px;
  left: 660px;
}

#feedbackBox {
  position: fixed;
  background-color: grey;
  border-radius: 10px;
  height: 270px;
  width: 400px;
}

