html {
  background-color: #10a7a4;
}

.keyboard {
  position: absolute;
  top: 400px;
  left: 450px;
}

@font-face {
   font-family: Comfortaa;
   src: url('https://fonts.googleapis.com/css?family=Comfortaa');
 }



p {
  font-family: 'Comfortaa', cursive;
  color: white;
}

#key {
  font-size: 0;
}



.natural {
  height: 200px;
  width: 50px;
  background-color: white;
  margin: 1px;

}

.sharp {
  height: 150px;
  width: 40px;
  background-color: black;
}

#cSharpDiv {
  position: absolute;
  left: 475px;
  top: 400px;
  width: 50px;
}

#dSharpDiv {
  position: absolute;
  left: 535px;
  top: 400px;
  width: 50px;
}

#fSharpDiv {
  position: absolute;
  left: 645px;
  top: 400px;
  width: 50px;
}

#gSharpDiv {
  position: absolute;
  left: 700px;
  top: 400px;
  width: 50px;
}

#aSharpDiv {
  position: absolute;
  left: 755px;
  top: 400px;
  width: 50px;
}

#start {
  width: 150px;
  height: 75px;
  background-color: #59c0e5;
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  position: absolute;
  top: 415px;
  left: 100px;
}

#finish {
  width: 150px;
  height: 75px;
  background-color: #59e575;
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  position: absolute;
  top: 515px;
  left: 100px;
}

#sf {
  position: absolute;
  top: 770px;
  left: 595px;
}

button {
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
}


#sfYes {
  position: absolute;
  background-color: #59e575;
  font-size: 23px;
  top: 810px;
  left: 585px;
}

#sfNo {
  position: absolute;
  background-color: #ed5c4b;
  font-size: 23px;
  top: 810px;
  left: 660px;
}

#outputDiv {
  position: absolute;
  background-color: grey;
  border-radius: 10px;
  height: 150px;
  width: 400px;
  background-color: #73c7e2;
  left: 440px;
  top: 180px;
  border-color: blue;
  border: solid;
}

#pageTitle1 {
  position: absolute;
  left: 540px;
  top: 5px;
}

#subtitle {
  position: absolute;
  left: 450px;
  top: 70px;
}

#feedbackBox {
  position: relative;
  left: 100px;
  top: 60px;
}

#next {
  width: 150px;
  height: 75px;
  background-color: #b06ff2;
  color: white;
  font-weight: strong;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  position: absolute;
  top: 415px;
  left: 270px;
}
